<!DOCTYPE html>
<html lang="en">

    <style>
        .video-catalog-container {
            padding-left: 0px !important;
        }
        .title-video-catalog {
            padding-left: 1em !important;
        }
        .video-item {
            padding-left: 1em !important;
        }
    
        a.item_title.title-video-catalog {
            margin-bottom: 10px !important;
        }
    
        .fcrse_1.mb-20 {
            padding-bottom: 5px !important;
        }
    </style>

	<%- include('head'); -%>

<body>

	<%- include('header'); -%>

    <%- include('leftSideBar'); -%>

	<!-- Body Start -->
	<div class="wrapper">
		<div class="sa4d25">
			<div class="container-fluid">			
				<div class="row">
					<div class="col-xl-12 col-lg-8">
						<div class="section3125">
							<div class="explore_search">
								<div class="ui search focus">
									<div class="ui left icon input swdh11">
										<input class="prompt srch_explore" type="text" placeholder="Search Tutors...">
										<i class="uil uil-search-alt icon icon2"></i>
									</div>
								</div>
							</div>							
						</div>							
					</div>	
					<div class="col-md-12">
						<div class="_14d25">
							<div class="row">

								<% for(let i = 0;  i< users.length; i++) {%>
									<div class="col-xl-3 col-lg-4 col-md-6">
										<div class="fcrse_1 mt-30">
											<div class="tutor_img">
												<a href="instructor_profile_view.html"><img src="<%= users[i].profilePicture %>" alt=""></a>												
											</div>
											<div class="tutor_content_dt">
												<div class="tutor150">
													<a href="instructor_profile_view.html" class="tutor_name"><%= users[i].username %></a>
													<div class="mef78" title="Verify">
														<i class="uil uil-check-circle"></i>
													</div>
												</div>
												<div class="tutor_cate"><%= users[i].emailaddress %></div>
												<ul class="tutor_social_links">
													<li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
													<li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
													<li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
													<li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
												</ul>
											</div>
										</div>										
									</div>
								
								<%}%>
							</div>				
						</div>				
					</div>				
				</div>
			</div>
		</div>
        <%- include('footer'); -%>
	</div>
	<!-- Body End -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	<script src="/owlcarousel/owl.carousel.min.js"></script>
	
	<script src="/js/custom.js"></script>
	<script src="/js/night-mode.js"></script>
	<script src="/js/vertical-responsive-menu.min.js"></script>
	
</body>
</html>