<!DOCTYPE html>
<html lang="en">

<style>
	.video-catalog-container {
		padding-left: 0px !important;
	}
	.title-video-catalog {
		padding-left: 1em !important;
	}
	.video-item {
		padding-left: 1em !important;
	}

	a.item_title.title-video-catalog {
		margin-bottom: 10px !important;
	}

	.fcrse_1.mb-20 {
		padding-bottom: 5px !important;
	}
</style>
  <%- include("head"); -%>
<body>
	<%- include("header"); -%>
  	
  	<%- include("leftSideBar"); -%>
	<!-- Body Start -->
	<div class="wrapper">
		
		<div class="sa4d25">
			<div class="container-fluid video-catalog-container">			
				<div class="row">
					<div class="col-12">
						<div class="section3125 searchhomepage">
							<form action="/search" method="GET">
							<div class="explore_search">
								<div class="ui search focus">
									<div class="ui left icon input swdh11">
										<input name="keyword" class="prompt srch_explore" type="text" placeholder="Search..">
										<i class="uil uil-search-alt icon icon2"></i>
									</div>
								</div>
							</div>
							</form>							
						</div>		
						<%- include("modifiedVideos"); -%>
					</div>
				</div>
			</div>
		</div>
    
    <%- include("footer"); -%>
	
	</div>
	<!-- Body End -->

	<%- include("modalDemoWeb"); -%>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	
	<script src="/js/vertical-responsive-menu.min.js"></script>
	<script src="/owlcarousel/owl.carousel.js"></script>
	<script src="/js/custom.js"></script>
	<script src="/js/modal.js"></script>
	<script src="/js/night-mode.js"></script>

	<script>
		
		$( document ).ready(function() {

			function displayDemoVerNotification(){
				let disableNotification = sessionStorage.getItem('disableNotification') == 'true';
				let notif = document.getElementsByClassName('modalDemoWeb')[0];
				notif.style.display = disableNotification ? 'none' : 'flex';
			}

			displayDemoVerNotification();
		});
		
	</script>
	
</body>
</html>