<!DOCTYPE html>
<html lang="en">

  <%- include("head"); -%>

<body>
  	<% if(loggedIn) { %>
		<%- include("header"); -%>		
	<% } %>
   
	<% if(!loggedIn) { %>
		<%- include("headerUnsigned"); -%>
	<% } %>
  	<%- include("leftSideBar"); -%>
	<!-- Body Start -->
	<div class="wrapper">
		<div class="sa4d25">
			<div class="container-fluid">			
				<div class="row">
					<div class="">
			
						
            <!-- <%- include("featureCourses"); -%> -->
            <!-- <%- include("newestCourses"); -%>  -->
			<%- include("modifiedVideos"); -%>

	
					</div>
				
			
				</div>
			</div>
		</div>
    
    <%- include("footer"); -%>
	</div>
	<!-- Body End -->

	<script src="js/vertical-responsive-menu.min.js"></script>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/OwlCarousel/owl.carousel.js"></script>
	<script src="vendor/semantic/semantic.min.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/night-mode.js"></script>
	
	
</body>
</html>