<!DOCTYPE html>
<html lang="en">

<style>
	.video-catalog-container {
		padding-left: 0px !important;
	}
	.title-video-catalog {
		padding-left: 1em !important;
	}
	.video-item {
		padding-left: 1em !important;
	}

	a.item_title.title-video-catalog {
		margin-bottom: 10px !important;
	}
</style>

  <%- include("head"); -%>
<body>
	<%- include("header"); -%>
  	
  	<%- include("leftSideBar"); -%>
	<!-- Body Start -->
	<div class="wrapper">
		<div class="sa4d25">
			<div class="container-fluid video-catalog-container">			
				<div class="row">
					<div class="col-12">	
						<%- include("modifiedVideos"); -%>
					</div>
				</div>
			</div>
		</div>
    
    <%- include("footer"); -%>
	</div>
	<!-- Body End -->

	<script src="/js/vertical-responsive-menu.min.js"></script>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/OwlCarousel/owl.carousel.js"></script>
	<script src="/vendor/semantic/semantic.min.js"></script>
	<script src="/js/custom.js"></script>
	<script src="/js/night-mode.js"></script>
	
	
</body>
</html>