<div class="section3126">
    <div class="row">
        <%- include("item"); -%>
        <%- include("item"); -%>
        <%- include("item"); -%>
        <%- include("item"); -%>        
        <%- include("item"); -%>
        <%- include("item"); -%>
        <%- include("item"); -%>
        <%- include("item"); -%>
    </div>
</div>