<!-- Report Video content -->
<style>
    .sub1, .sub2 { display: none; }
    :checked ~ .sub1, :checked ~ .sub2 {
        display: block;
    }
</style>
<div class="reportVideo">
    <div class="reportedVideoMain">
        <div class="reportedContent">
            <p><%=t('commonCaption.notification')%></p>
            <div class="reportedMessage">
                <%=t('reportVideo.feedbackThanks')%>
            </div>
        </div>
    </div>
    <div class="reportVideoMain">
        <form>
            <div class="reportContent">
                <p><%=t('reportVideo.caption')%></p>
                <div id="reportNotif">*<%=t('commonCaption.chooseOption')%></div>
                <div class="repReason">
                    <input type="radio" class="reportType" name="reportType" value="sexual" id="sexualReason"/>
                    <label for="sexualReason"><%=t('reportVideo.reportSexual')%></label>
                    <div class="reportsexual reportSelect mb-20">
                        <select class="ui hj145 dropdown cntry152 prompt srch_explore" id="sexual">
                            <option value="notselected"><%=t('reportVideo.reportChoose')%></option>
                            <option value="1"><%=t('reportVideo.reportSexual_1')%></option>
                            <option value="2"><%=t('reportVideo.reportSexual_2')%></option>
                            <option value="3"><%=t('reportVideo.reportSexual_3')%></option>
                        </select>
                    </div>
                    
                </div>
                <div class="repReason">
                    <input type="radio" class="reportType" name="reportType" value="copyright" id="copyrightReason"/>
                    <label for="copyrightReason"><%=t('reportVideo.reportCopyright')%></label>
                    <div class="reportcopyright reportSelect mb-20">
                        <select class="ui hj145 dropdown cntry152 prompt srch_explore" id="copyright">
                            <option value="notselected"><%=t('reportVideo.reportChoose')%></option>
                            <option value="1"><%=t('reportVideo.reportCopyright_1')%></option>
                            <option value="2"><%=t('reportVideo.reportCopyright_2')%></option>
                            <option value="3"><%=t('reportVideo.reportCopyright_3')%></option>
                            <option value="4"><%=t('reportVideo.reportCopyright_4')%></option>
                            <option value="5"><%=t('reportVideo.reportCopyright_5')%></option>
                            <option value="6"><%=t('reportVideo.reportCopyright_6')%></option>
                        </select>
                    </div>
                </div>
                <div class="repReason">
                    <input type="radio" class="reportType" name="reportType" value="other" id="otherReason"/>
                    <label for="otherReason"><%=t('reportVideo.reportOther')%></label>
                    <div class="reportother reportSelect">
                        <div class="ui form swdh30">
                            <textarea class="other" rows="1" name="other" id="other" placeholder="<%=t('reportVideo.reportOtherPlaceholder')%>"></textarea>
                        </div>
                    </div>
                </div>
                <p><%=t('reportVideo.descriptions')%></p>
                <div class="ui form swdh30">
                    <textarea rows="5" name="other" id="reportDesc" placeholder="<%=t('reportVideo.reportDesPlaceholder')%>"></textarea>
                </div>
            </div>
            <div class="reportBtns">
                <button class="general-btn" id="cancelBtn"><%=t('button.cancel')%></button>
                <button class="general-btn" id="sendBtn"><%=t('button.send')%></button>
            </div>
        </form>
    </div>
    
    <div class="reportVideoBg"></div>
</div>