<!DOCTYPE html>
<html lang="en">

	<%- include("head"); -%>

<body>
	<% if(loggedIn) { %>
		<%- include("header"); -%>		
	<% } %>
   
	<% if(!loggedIn) { %>
		<%- include("headerUnsigned"); -%>
	<% } %>
  	<%- include("leftSideBar"); -%>

	<!-- Body Start -->
	<div class="wrapper">
		<div class="sa4d25">
			<div class="container-fluid">			
				<div class="row">
					<div class="col-xl-8 col-lg-8">
						<div class="section3125">
							<div class="live1452">
								<iframe src="<%=link%>" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="user_dt5">
								<h3><%=title%></h3>
							</div>
							<div class="user_dt5">
								<div class="user_dt_left">
									<div class="live_user_dt">
										<div class="user_img5">
											<img src="/images/left-imgs/img-4.jpg" alt="">												
										</div>
										<div class="user_cntnt">
											<h4><%=videoAuthor%></h4>
											<button class="subscribe-btn">Subscribe</button>
										</div>
									</div>
								</div>
								<div class="user_dt_right">
									<ul>
										<li>
											<a href="#" class="lkcm152"><i class='uil uil-eye'></i><span><%=view%></span></a>
										</li>
										<li>
											<a href="#" class="lkcm152"><i class='uil uil-thumbs-up'></i><span><%=like%></span></a>
										</li>
								
									</ul>
								</div>
							</div>
							<div class="">
								<h3>Gateway</h3>
							</div>
							<div>
								<div class="user_cntnt">
									<a href="/video/<%=videoId%>?gateway=ipfs"><button class="subscribe-btn">IPFS</button></a>
									<a href="/video/<%=videoId%>?gateway=crust"><button class="subscribe-btn">Crust</button></a>
									<a href="/video/<%=videoId%>?gateway=oneloveipfs"><button class="subscribe-btn">OneLove</button></a>
								</div>
							</div>
							<div class="user_dt5">
								<p><%=description%></p>
							</div>
						</div>							
					</div>
					<div class="col-xl-4 col-lg-4">
						<div class="right_side">							
							<div class="fcrse_3">
								<div class="cater_ttle">
									<h4>Live Chat</h4>
								</div>
								<div class="live_chat">
									<div class="chat1">
										<p><a href="#">Anonymous 1</a>Great video!</p>
										<p><a href="#">Anonymous 2</a>Best video ever!</p>
									</div>
								</div>
								<div class="live_comment">
									<input class="live_input" type="text" placeholder="Say Something..." disabled/>
									<button class="btn_live"><i class='uil uil-message'></i></button>
								</div>
							</div>													
						</div>
					</div>				
				</div>
			</div>
		</div>
		<%- include("footer"); -%>
	</div>
	<!-- Body End -->

	<script src="/js/vertical-responsive-menu.min.js"></script>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/OwlCarousel/owl.carousel.js"></script>
	<script src="/vendor/semantic/semantic.min.js"></script>
	<script src="/js/custom.js"></script>
	<script src="/js/night-mode.js"></script>
	
</body>
</html>