<!DOCTYPE html>
<html lang="en">

	<%- include("head"); -%>

	<link rel='stylesheet' href='/css/reportVideoPopup.css'>

<body>
	
	<%- include("header"); -%>
	
  	<%- include("leftSideBar"); -%>

	<!-- Body Start -->
	<div class="wrapper">
		<div class="sa4d25">
			<div class="container-fluid">			
				<div class="row">
					<div class="col-xl-8 col-lg-8">
						<div class="section3125">
							<div class="live1452">
								<iframe src="<%=videoInfo.link%>" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="user_dt5" style="display:flex">
								<h3><%=videoInfo.title%></h3>
								<div class="eps_dots more_dropdown dropdownvideopage">
									<a href="#"><i class="uil uil-ellipsis-h"></i></a>
									<div class="dropdown-content">
										<span id="shareSpan"><i class='uil uil-share-alt'></i>Share</span>
										<% if(!loggedIn) { %>
											<a href="/login"><span id=""><i class="uil uil-windsock"></i>Report</span></a>
										<% } else {%>
											<span id="reportSpan"><i class="uil uil-windsock"></i>Report</span>
										<% } %>
									 </div>																										
								</div>
							</div>
							<div class="user_dt5">
								<div class="user_dt_left">
									<div class="live_user_dt">
										<div class="user_img5">
											<img src="/images/left-imgs/img-4.jpg" alt="">												
										</div>
										<div class="user_cntnt">
											<a href="/channel/<%=videoInfo.videoAuthorId%>"><h4><%=videoInfo.videoAuthor%></h4></a>
											<button class="subscribe-btn">Subscribe</button>
										</div>
									</div>
								</div>
								<div class="user_dt_right">
									<ul>
										<li>
											<a href="#/" class="lkcm152"><i class='uil uil-eye'></i><span><%=videoInfo.view%></span></a>
										</li>
										<li>
											<a href="#/" class="lkcm152" onclick="boomVideo()"><i class='uil uil-rocket'></i><span id="boom-count"><%=videoInfo.like%></span></a>
										</li>
								
									</ul>
								</div>
							</div>
							<div class="">
								<h3>Gateway</h3>
							</div>
							<div>
								<div class="user_cntnt">
									<a href="/video/<%=videoInfo.videoId%>?gateway=ipfs"><button class="subscribe-btn">IPFS</button></a>
									<a href="/video/<%=videoInfo.videoId%>?gateway=crust"><button class="subscribe-btn">Crust</button></a>
									<a href="/video/<%=videoInfo.videoId%>?gateway=oneloveipfs"><button class="subscribe-btn">OneLove</button></a>
								</div>
							</div>
							<div class="user_dt5">
								<p><%=videoInfo.description%></p>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4">
						<div class="right_side">							
							<div class="fcrse_3">
								<div class="cater_ttle">
									<h4>Live Chat</h4>
								</div>
								<div class="live_chat" id="livechat">
									<div class="chat1" id="messages">
										<%for(let chatCount = 0; chatCount < liveChat.messages.length;chatCount++){%>
											<p><a href="#"><%=liveChat.messages[chatCount].author%></a><%=liveChat.messages[chatCount].message%></p>
										<%}%>
										<!-- <p><a href="#">Anonymous 1</a>Great video!</p> -->
									</div>
								</div>
								<form class="live_comment" id="form">
									<input id="input" class="live_input" type="text" placeholder="Say Something..."/>
									<button class="btn_live"><i class='uil uil-message'></i></button>
								</form>
							</div>													
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include("footer"); -%>
		<input type="hidden" id="videoId" name="videoId" value="<%=videoInfo.videoId%>">
	</div>

	<!-- Body End -->

	<%- include("reportVideoPopup"); -%>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/owlcarousel/owl.carousel.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

	<script src="/js/vertical-responsive-menu.min.js"></script>
	<script src="/js/custom.js"></script>
	<script src="/js/night-mode.js"></script>
	<script src="/js/reportVideo.js"></script>

	<script src="/socket.io/socket.io.js"></script>
	<script>
	  var socket = io();
  
	  var messages = document.getElementById('messages');
	  var form = document.getElementById('form');
	  var input = document.getElementById('input');
	  var livechat = document.getElementById('livechat');
  
	  form.addEventListener('submit', function(e) {
		e.preventDefault();
		if (input.value) {
		  socket.emit('chat message', input.value);
		  input.value = '';
		}
	  });
  
	  socket.on('chat message', function(msg) {
		var nameArrayTempo = ['The Fat Dog', 'The Phoenix', 'Redbird', 'The Black Cat', 'The Thirsty Crow', 'The Fat Cow','Lucky Duck'];
		var messageElement = document.createElement('p');
		var authorElement = document.createElement('a');
		authorElement.textContent = nameArrayTempo[Math.floor(Math.random() * nameArrayTempo.length)];
		messageElement.appendChild(authorElement);
		messageElement.insertAdjacentHTML( 'beforeend', msg );
		messages.appendChild(messageElement);
		livechat.scrollTop = livechat.scrollHeight;
	  });
	</script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		function boomVideo() {
			document.querySelector('#boom-count').textContent++;
			axios.post('/boom/<%=videoInfo.videoId%>');
		}
	</script>
</body>
</html>